.home-section-1 {
padding: 10px 80px 80px 80px;
}

.home-section-1 > h1 {
padding-top: 20px;
display: flex;
padding-bottom: 30px;
font-size: 35px;
} 

.cards {
  display: flex;
}

.home-section-2{
  padding: 50px 80px 20px 80px;
  background-color: #000;
  color: #fff;
  margin-bottom: 60px; 
  margin-top: 130px; 
}

.home-section-2 > h1 {
padding-left: 10px;
font-size: 40px;
font-weight: 600;
  
}

.home-section-2 > h4 {
  padding-left: 10px;
  font-size: 25px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .home-section-1 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .home-section-2 {
    padding-right: 30px;
    padding-left: 30px;
  
  }
}

@media screen and (max-width: 700px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}
