.search-result {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.search-result:hover {
    opacity: 0.8;
}

.search-result > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.search-result-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.search-result-heart {
    position: absolute;
    top: 30px;
    right: 40px;
}

.search-result-infoTop {
    width: 40vw;
}

.search-result-infoTop > h3 {
    font-weight: 400;
    margin-top: 10px;
}

.search-result-infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}
  
.search-result-infoBottom {
    display: flex;
    justify-content: space-between;
}

.search-result-star {
    color: red;
}

.search-result-stars {
    display: flex;
    align-items: center;
}

.search-result-price > p {
    text-align: right;
}

.search-result-price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

@media screen and (max-width: 800px) {
    .search-result-infoBottom  {
       margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .search-result-heart {
        right: 0;
    }
    
    .search-result-infoBottom  {
       margin-top: 30px;
    }

    .search-result-price > h2 { 
    font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .search-result-infoBottom {
        display: flex;
        flex-direction:inherit;
        margin-top: 20px;
        line-height: 1.7;
    }
    
    .search-result-price { 
        position:unset;
}
    .search-result-price > p{
        text-align: start;
    
}
}
